.list {
  height: 100%;
  z-index: 1;
  width: 243px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #231E23;
  overflow-x: hidden;
  padding-top: 20px;
}

hr {
  border-bottom: 1px solid #39A6A3;
}

.list .p {
  color: #DEEEEA;
  text-align: center;
}

.p :hover {
  background-color: #D1045F;
}
