<div *ngIf="loadedData" class="topic shadow-large-outer">
  <a [routerLink]="['/topic', this.topicId]" class="topic-content cursor-pointer select-none">
    <div class="topic-column">
      <h2 id="topic-title">{{topicDetails.title}}</h2>
      <div *ngIf="topicDetails.type == 'complex'; else oneIteration" class="topic-details">
        <label>Current Goal: <b>{{iteration.goal}}</b></label>
        <label>Current Iteration: <b>{{iteration.position}}</b></label>
        <label class="deadline">Iteration Deadline: <b>{{deadline}}</b></label>
      </div>
      <ng-template #oneIteration>
        <div class="topic-details">
          <label>Goal: <b>{{iteration.goal}}</b></label>
          <label class="deadline">Deadline: <b>{{deadline}}</b></label>
        </div>
      </ng-template>
    </div>
    <div class="topic-column">
      <label *ngIf="topicDetails.type == 'complex'; else oneIterationLabel">Previous Iteration idea:</label>
      <ng-template #oneIterationLabel>
        <label>Current best idea:</label>
      </ng-template>
      <div id="topic-card">
        <div id="topic-card-text">
          <section id="topic-idea">{{highlightedProposal?.description}}</section>
        </div>
        <div *ngIf="proposalImage != ''" id="topic-card-img">
          <img src='{{proposalImage}}'>
        </div>
      </div>
      <div id="activity-profile-heads">
        <div *ngFor="let image of getProfileImages()" class="profile-head">
          <img src='{{image}}'>
        </div>
        <div id="profile-label">
          <label *ngIf="this.topicDetails.activeUsers.length > 4">+{{this.topicDetails.activeUsers.length - 4}}</label>
        </div>
      </div>
    </div>
  </a>
</div>
