<div class="flex items-center justify-start ml-0.5">
  <div
    class="w-10 h-10 flex-shrink-0 rounded-full bg-center bg-origin-content bg-cover bg-primary material-icons flex justify-center items-center text-4xl text-accent shadow-small-outer">
    keyboard_double_arrow_up
  </div>
  <div class="ml-7 flex h-full justify-evenly items-center text-xl whitespace-pre">
    <div [ngStyle]="{'background-image': 'url(' + 'https://i.pravatar.cc/300?u=gigel' + ')'}"
         class="w-10 h-10 flex-shrink-0 rounded-full mr-4 bg-center bg-origin-content bg-cover shadow-small-outer"></div>
    Ileana upgraded <span class="text-secondary cursor-pointer">comment</span> to <span
    class="text-secondary cursor-pointer">proposal</span> 5 minutes ago
  </div>
</div>
